* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/background_geo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: poppins;

}

.main-div {
    height: 30rem;
    width: 25rem;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.heading {
    position: absolute;
    top: 3rem;
    font-size: 2rem;
}

.input-group {
    width: 20rem;
    /* border: 2px solid red; */
    /* margin: auto; */
    top: 1rem;
    position: relative;
}

.input-field {
    /* position: absolute; */
    margin:2rem auto;
    display: flex;
    /* border: 2px solid red; */
}

.input {
    width: 90%;
    padding: 0.5rem;
    float: right;
    position: relative;
}



.button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* top: 1rem; */
    align-items: center;
    border-radius: 2rem;
    font-size: 1.3rem;
    text-align: center;
    padding: 2px 40px;
    color: white;
    /* position: absolute; */
    vertical-align: auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(8, 40, 142, 1) 51%, rgba(6, 90, 175, 1) 69%, rgba(0, 212, 255, 1) 100%);
    top: 20rem;
    cursor: pointer;
    /transition-duration: 0.2s;/
}

.button:hover{
    background: rgb(240, 240, 243);
    color:  rgb(2, 0, 36);
    border:2px solid rgb(2, 0, 36);
}
